<div class="wholepopup">
    <div class="popup">
        <div class="bttn">
            <button type="button" class="btn-close" (click)="close()">x</button>
        </div>

        <div class="congrats" *ngIf="status === 'done'"><i>Sad :(</i></div>

        <h3 class="maintxt"><i><u>{{ message }}</u></i></h3>

        <div class="bg-img">
            <form [formGroup]="signupForm" class="container">
                <div class="input-container">
                    <label>Email:</label>
                    <input type="email" formControlName="email" />
                    <mat-error *ngIf="signupForm.controls['email'].invalid && !signupForm.controls['email'].hasError('required')">
                        Invalid Email
                    </mat-error>
                </div>

                <div class="input-container">
                    <label>Password:</label>
                    <input type="password" formControlName="pass" />
                    <mat-error *ngIf="passwordControl?.invalid && !passwordControl?.hasError('required')">
                        Min password length is 5 characters.
                    </mat-error>
                </div>

                <div class="input-container" *ngIf="status === 'signin'">
                    <label>Name:</label>
                    <input type="text" formControlName="name" />
                </div>

                <div class="input-container" *ngIf="status === 'signin'">
                    <label>Username:</label>
                    <input type="text" formControlName="userName" />
                </div>


                <div class="bttn2">
                    <button type="submit" class="button" [disabled]="signupForm.invalid" (click)="login()">
            {{ status === 'signin' ? 'Create Account' : 'Log In' }}
                  </button>
                </div>
                <div class="signin" *ngIf="status === 'login'">
                    <a routerLink="/signup">Sign up!</a>
                </div>
            </form>
        </div>
    </div>
</div>