.popup {
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
  text-align: center;
  background-color: #ffffff;
  max-width: 400px;
  margin: auto;
}

.wholepopup {
  border: solid;
}

.h3 {
  font-size: 1.3rem;
  margin-bottom: 15px;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: bold;
  color: #333333;
}

.congrats {
  font-size: small;
  color: #333333;
  margin: -15px;
}

.maintxt{
  margin-bottom: -4px;
}

.bttn .btn-close {
  background-color: #d52525;
  color: white;
  border: none;
  border-radius: 11px;
  padding: 8px 20px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  font-size: 14px;
}

.bttn .btn-close:hover {
  background-color: #911111;
}

.bttn2{
  display: flex;
  justify-content: center;
  margin-top: 5px;
  margin-bottom: 6px;
}

.bttn{
  display: flex;
  justify-content: end;
  margin-top: 7px;
  margin-right: 8px;
}

.btn-ok {
  background-color: #dd6464;
  color: white;
  border: inset;
  border-radius: 21px;
  padding: 8px 20px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  font-size: 13px;
  width: 104px;
}

.btn-ok:hover {
  background-color: #8f2323;
}