.bg-img {
    background-image: url("https://img.freepik.com/free-photo/autumn-leaves-composition_23-2151554880.jpg?t=st=1718797571~exp=1718801171~hmac=54a8035e8fdc87db94764581a1910b54015d27fdccc6300579a5b92aa6bb1982&w=826");		

    min-height: 100vh;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    position: relative;
    width: 242px;
    height: 390px;
    max-width: 800px;
    padding: 20px;
    background: rgba(255, 255, 255, 0.8);
    border-radius: 50px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    opacity: 90%;		

}
.signin{
    display: flex;
    justify-content:center;
    margin-bottom: -12px;
}
.bttn{
display: flex;
justify-content:center;
}
.invalid-credentials {
    color: red;
    margin-top: -4px;
    font-size: small;
    display: flex;
    justify-content:center ;
  }
.button {
    display: flex;
    justify-content: center;
    background-color: rgba(158, 6, 6, 0.8);
    color: white;
    padding: 10px;
    margin: -5px;
    border: inset;
    cursor: pointer;
    width: 62%;
border-radius: 36px;
}		
.button:hover,
.button:focus {
  background-color: rgb(158, 27, 27); 
}
.cred{
display: flex;
flex-direction: row;
justify-content: space-between;
color: #6057dd;
padding-left: 17px;
}

.signup{
display:flex ;
justify-content:end;

}

.input-container{
position:relative;
margin-bottom: -3px;
color: #6057dd;
padding: 19px 0 5px 0;
}

.input-container label{
position:absolute;
top:0px;
left:0px;
font-size:15px;
color: #6057dd;
pointer-events:none;
transition: all 0.5s ease-in-out;
}

.input-container input{ 
border:0;
border-bottom:1px solid #555;  
background:transparent;
width:100%;
padding:8px 0 5px 0;
font-size:16px;
color:#000000;
}
.input-container input:focus{ 
border:none;	
outline:none;
border-bottom:1px solid #e74c3c;
color: #0c0c0c;	
}
